@using System.Reflection
@using Dynamicweb.Rapido.Blocks.Components
@using Dynamicweb.Rapido.Blocks.Components.Articles
@using Dynamicweb.Rapido.Blocks


@* Component for the articles *@

@helper RenderArticleMenu(ArticleMenu settings)
{
    if (!String.IsNullOrEmpty(settings.Title)) {
        <div class="u-margin u-border-bottom">
            <h3 class="u-no-margin">@settings.Title</h3>
        </div>
    }

    <ul class="menu-left u-margin-bottom dw-mod">
        @foreach (var item in settings.Items)
        {
            @Render(item)
        }
    </ul>
}

@helper RenderArticleMenuItem(ArticleMenuItem settings)
{
    string link = !String.IsNullOrEmpty(settings.Link) ? settings.Link : "#";

    if (!String.IsNullOrEmpty(settings.Title)) {
        <li class="menu-left__item dw-mod">
            <a href="@link" onclick="@settings.OnClick" class="menu-left__link dw-mod">@settings.Title</a>
        </li>
    } 
}