@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@functions{ 
    public string GetParentSettingsItem(string systemName)
    {
        string item = null;

        Dynamicweb.Content.Page current = Dynamicweb.Services.Pages.GetPage(Model.ID);
        while (current != null && current.Parent != current)
        {
            var temp = current.Item != null ? current.Item[systemName] : "";

            if (temp != null)
            {
                item = temp.ToString();

                if (!String.IsNullOrEmpty(item) && !String.Equals("default", item, StringComparison.OrdinalIgnoreCase))
                {
                    break;
                }
            }

            current = current.Parent;
        }

        return item;
    }
}

@{ 
    dynamic bodyFont = !String.IsNullOrEmpty(GetParentSettingsItem("BodyFont")) ? Newtonsoft.Json.JsonConvert.DeserializeObject(GetParentSettingsItem("BodyFont")) : null;
    string bodyFontFamily = bodyFont.Family != null ? bodyFont.Family : "Lato";
    string bodyFontWeight = bodyFont.SelectedVariant != null ? bodyFont.SelectedVariant : "300";

    dynamic h1Font = !String.IsNullOrEmpty(GetParentSettingsItem("H1Font")) ? Newtonsoft.Json.JsonConvert.DeserializeObject(GetParentSettingsItem("H1Font")) : null;
    string h1FontFamily = h1Font.Family != null ? h1Font.Family : "Lato";
    string h1FontWeight = h1Font.SelectedVariant != null ? h1Font.SelectedVariant : "300";

    dynamic h2Font = !String.IsNullOrEmpty(GetParentSettingsItem("H2Font")) ? Newtonsoft.Json.JsonConvert.DeserializeObject(GetParentSettingsItem("H2Font")) : null;
    string h2FontFamily = h2Font.Family != null ? h2Font.Family : "Lato";
    string h2FontWeight = h2Font.SelectedVariant != null ? h2Font.SelectedVariant : "300";

    var fonts = new string[] { bodyFont.Family, h1Font.Family, h2Font.Family };
    var family = string.Join("%7C", fonts.Where(x => !string.IsNullOrEmpty(x)).Distinct().Select(x => string.Format("{0}:100,200,300,400,500,600,700,800,900", x)));
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@Model.Item.GetString("Title")</title>

    <!-- Load the css + fonts for printing -->
    <link rel="stylesheet" href="/Files/Templates/Designs/Rapido/css/printable/printable.min.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/Rapido/css/printable/custom/custom.min.css">
    <link rel="stylesheet" href="/Files/Templates/Designs/Rapido/css/fonts/FontAwesomeFree/css/fontawesome-all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=@family" rel="stylesheet">

    <!-- Set the fonts in the CSS -->
    <style>
        body {
            font-family: "@bodyFontFamily";
            font-size: "@bodyFontWeight";
        }

        h1 {
            font-family: "@h1FontFamily";
            font-size: "@h2FontWeight";
        }

        h2, h3, h4, h5, h6 {
            font-family: "@h2FontFamily";
            font-size: "@h2FontWeight";
        }
    </style>

    @Model.Item.GetString("HeadCode")
</head>

@ContentPlaceholder()

</html>