@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System.Web;
@using System.IO;
@using Dynamicweb.Rapido.Blocks.Components.General
@using Dynamicweb.Rapido.Blocks.Components
@using Dynamicweb.Rapido.Blocks

@functions {
    BlocksPage yourProfileIsCompletePage = BlocksPage.GetBlockPage("YourProfileIsComplete");
}

@{
    if (!string.IsNullOrWhiteSpace(Pageview.AreaSettings.GetItem("Settings").GetString("FacebookPixelID")))
    {
        yourProfileIsCompletePage.Add(new Block {
            Id = "FacebookScript",
            SortId = 20,
            Template = RenderFacebookScript()
        });
    }

    yourProfileIsCompletePage.Add(new Block {
        Id = "Content",
        SortId = 10,
        Template = RenderContent()
    });
}

@helper RenderFacebookScript()
{
    <script>
        fbq('track', 'CompleteRegistration');
    </script>
}

@helper RenderContent()
{
    int signInPageId = GetPageIdByNavigationTag("SignInPage");

    <div class="grid__col-lg-6 grid__col-md-6 grid__col-sm-6 grid__col-xs-12 paragraph-container grid--justify-center u-middle dw-mod">
        <div class="grid__cell paragraph-container__body--padding-default dw-mod">
            @Render(new Heading { Title = Translate("Your profile is complete"), Level = 2 })

            <p>@Translate("You can use your profile by signing in.")</p>
            <p>@Translate("With your new profile you can add products to your favorite list, maintain your profile information and get an overview over your orders.")</p>
        
            @Render(new Link
            {
                Href = "/Default.aspx?Id=" + signInPageId,
                Title = Translate("Sign in"),
                CssClass = "u-margin-top"
            })        
        </div>
    </div>
}


@Include("../Components/GridBuilder.cshtml")
@Include("../Components/GeneralComponents.cshtml")
@Include("Blocks/YourProfileIsComplete/Custom__Blocks.cshtml")

@RenderBlockList(yourProfileIsCompletePage.BlocksRoot.BlocksList)

