@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@using System
@using System.Web
@using System.Collections.Generic
@using Dynamicweb.Rapido.Blocks.Extensibility
@using Dynamicweb.Rapido.Blocks
@using Dynamicweb.Rapido.Blocks.Components.Ecommerce
@using Dynamicweb.Rapido.Services

@{
    BlocksPage searchBlocksPage = BlocksPage.GetBlockPage("Master");
    bool navigationItemsHideSearch = Model.Area.Item.GetItem("Layout").GetItem("Header").GetBoolean("HideSearch");
    bool isFavoriteList = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("ListID"));

    if (!navigationItemsHideSearch || isFavoriteList)
    {
        Block masterSearchScriptTemplates = new Block()
        {
            Id = "MasterSearchScriptTemplates",
            SortId = 1,
            Template = RenderSearchScriptTemplates()
        };

        searchBlocksPage.Add(MasterBlockId.MasterBottomSnippets, masterSearchScriptTemplates);
    }
}

@helper RenderSearchScriptTemplates()
{
    int productsPageId = GetPageIdByNavigationTag("ProductsPage");
    string contentSearchPageLink = GetPageIdByNavigationTag("ContentSearchResults") + "&Areaid=" + Model.Area.ID;
    bool useFacebookPixel = !string.IsNullOrWhiteSpace(Pageview.AreaSettings.GetItem("Settings").GetString("FacebookPixelID"));
    bool useGoogleTagManager = !string.IsNullOrEmpty(Model.Area.Item.GetItem("Settings").GetString("GoogleTagManagerID"));
    bool showPrice = !Pageview.AreaSettings.GetItem("Layout").GetBoolean("HidePriceInSearchResults");
    bool showAddToCartButton = !Pageview.AreaSettings.GetItem("Layout").GetBoolean("HideAddToCartButton");
    bool showViewButton = !Pageview.AreaSettings.GetItem("Layout").GetBoolean("HideViewButton");
    bool showAddToDownloadButton = Pageview.AreaSettings.GetItem("Layout").GetBoolean("ShowAddToDownloadButton");
    bool pointShopOnly = Pageview.AreaSettings.GetItem("Ecommerce").GetBoolean("PointShopOnly");
    
    <script id="SearchGroupsTemplate" type="text/x-template">
        {{#.}}
            <li class="dropdown__item dw-mod" onclick="Search.UpdateGroupSelection(this)" data-group-id="{{id}}">{{name}}</li>
        {{/.}}
    </script>

    <script id="SearchProductsTemplate" type="text/x-template">
        {{#each .}}
            {{#Product}}
                {{#ifCond template "!==" "SearchMore"}}
                    <li class="dropdown__item dropdown__item--seperator dw-mod">
                        @if (useFacebookPixel)
                        {
                            <text>{{{facebookPixelSearch name number priceDouble currency searchParameter}}}</text>
                        }
                        @if (useGoogleTagManager)
                        {
                            <text>{{{googleEnchantImpression googleImpression}}}</text>
                        }
                        <div>
                            <a href="{{link}}" 
                               class="js-typeahead-link u-color-inherit u-pull--left" 
                               onclick="{{#if googleImpression}}googleEnchantImpressionClick({{googleImpression}}, event){{/if}}" 
                               title="{{name}}{{#if variantName}}, {{variantName}}{{/if}}">
                                <div class="u-margin-right u-pull--left {{noimage}} u-hidden-xs u-hidden-xxs"><img class="b-lazy" src="/Files/Images/placeholder.gif" data-src="/Admin/Public/GetImage.ashx?width=45&height=36&crop=5&FillCanvas=True&Compression=75&image={{image}}" alt="{{name}}{{#if variantName}}, {{variantName}}{{/if}}"></div>
                                <div class="u-pull--left">
                                    <div class="u-bold u-max-w220px u-truncate-text js-typeahead-name">{{name}}{{#if variantName}}, {{variantName}}{{/if}}</div>
                                    @if (showPrice && Dynamicweb.Rapido.Services.User.IsPricesAllowed())
                                    {
                                        if (pointShopOnly)
                                        {
                                            <text>
                                                {{#if havePointPrice}}
                                                    <div>
                                                        <span class="u-color--loyalty-points">{{points}}</span> @Translate("points")
                                                    </div>
                                                {{else}}
                                                    <small class="help-text u-no-margin">@Translate("Not available")</small>
                                                {{/if}}
                                                {{#unless canBePurchasedWithPoints}}
                                                    {{#if havePointPrice}}
                                                        <small class="help-text u-no-margin">@Translate("Not enough points to buy this")</small>
                                                    {{/if}}
                                                {{/unless}}
                                            </text>
                                        }
                                        else
                                        {
                                            <div>

                                             <text>{{#if hideAddToCartButton}}</text>
         
                                            <text>{{else}}</text>
                                                {{price}}
                                            <text>{{/if}}</text>

                                            
                                            
                                            </div>
                                        }
                                    }
                                </div>
                            </a>
                            <div class="u-margin-left u-pull--right">
                                @{
                                    var viewBtn = new Link
                                    {
                                        Href = "{{link}}",
                                        OnClick = "{{#if googleImpression}}googleEnchantImpressionClick({{googleImpression}}, event){{/if}}",
                                        ButtonLayout = ButtonLayout.Secondary,
                                        CssClass = "btn--condensed u-no-margin u-w80px js-ignore-click-outside",
                                        Title = Translate("View")
                                    };
                                }
                                @if (showAddToCartButton && Dynamicweb.Rapido.Services.User.IsBuyingAllowed())
                                {
                                    // stock matrix and prodcucet stock conditional 
                                    var addToCartBtn = new AddToCartButton
                                    {
                                        HideTitle = true,
                                        ProductId = "{{productId}}",
                                        ProductInfo = "{{productInfo}}",
                                        BuyForPoints = pointShopOnly,
                                        OnClick = "{{facebookPixelAction}}",
                                        CssClass = "u-w80px u-no-margin js-ignore-click-outside",
                                        Icon = new Icon
                                        {
                                            CssClass = "js-ignore-click-outside"
                                        },
                                        ExtraAttributes = new Dictionary<string, string>
                                        {
                                            {"{{disabledBuyButton}}", ""}
                                        }
                                    };
                                    <text>{{#if hideAddToCartButton}}</text>
                                        @Render(viewBtn)
                                    <text>{{else}}</text>
                                        <text>
                                            {{#if isStockLocationsExist}}
                                                {{#ifCond stockLocationsTotalQuantity '>' 0}}
                                                    @Render(addToCartBtn)
                                                {{/ifCond}}
                                            {{else}} 
                                                {{#ifCond stockQuantity '>' 0}}
                                                    @{
                                                        addToCartBtn.OnClick = "{{facebookPixelAction}}";
                                                    } 
                                                    @Render(addToCartBtn)
                                                {{/ifCond}}
                                           {{/if}}
                                        </text>
                                    <text>{{/if}}</text>
                                }
                                else if (showViewButton)
                                {
                                    @Render(viewBtn)
                                }
                                @if (showAddToDownloadButton)
                                {
                                    <button type="button" class="btn btn--primary u-no-margin btn--condensed dw-mod js-add-to-downloads" title="@Translate("Add")" data-product-id="{{productId}}">
                                        <i class="fas fa-plus js-button-icon"></i>
                                    </button>
                                }
                            </div>
                        </div>
                    </li>
                {{/ifCond}}
                {{#ifCond template "===" "SearchMore"}}
                    {{>SearchMoreProducts}}
                {{/ifCond}}
            {{/Product}}
        {{else}}
            <li class="dropdown__item dropdown__item--seperator dropdown__item--not-selectable js-no-result dw-mod">
                @Translate("Your search gave 0 results")
            </li>
        {{/each}}
    </script>

    <script id="SearchMoreProducts" type="text/x-template">
        <li class="dropdown__item dropdown__item--not-selectable {{stickToBottom}} dw-mod">
            <a href="/Default.aspx?ID=@productsPageId&Search={{searchParameter}}&GroupID={{groupId}}" class="btn btn--primary btn--full u-no-margin dw-mod js-typeahead-link">
                @Translate("View all")
            </a>
        </li>
    </script>

    <script id="SearchMorePages" type="text/x-template">
        <li class="dropdown__item dropdown__item--not-selectable {{stickToBottom}} dw-mod">
            <a href="/Default.aspx?ID=@contentSearchPageLink&Search={{searchParameter}}" class="btn btn--primary btn--full u-no-margin dw-mod js-typeahead-link">
                @Translate("View all")
            </a>
        </li>
    </script>

    <script id="SearchPagesTemplate" type="text/x-template">
        {{#each .}}
            {{#ifCond template "!==" "SearchMore"}}
                <li class="dropdown__item dropdown__item--seperator dropdown__item--no-padding dw-mod">
                    <a href="/Default.aspx?ID={{id}}" class="js-typeahead-link dropdown__link u-color-inherit">
                        <div class="u-margin-right u-inline"><i class="fa {{icon}} u-w20px u-ta-center"></i></div>
                        <div class="u-inline u-va-middle"><div class="u-bold u-truncate-text u-max-w210px u-inline-block js-typeahead-name">{{name}}</div></div>
                    </a>
                </li>
                {{/ifCond}}
            {{#ifCond template "===" "SearchMore"}}
                {{>SearchMorePages}}
            {{/ifCond}}
        {{else}}
            <li class="dropdown__item dropdown__item--seperator dropdown__item--not-selectable js-no-result dw-mod">
                @Translate("Your search gave 0 results")
            </li>
        {{/each}}
    </script>

    <script id="SearchPagesTemplateWrap" type="text/x-template">
        <div class="dropdown__column-header">@Translate("Pages")</div>
        <ul class="dropdown__list u-min-w220px u-full-width u-margin-bottom u-height--auto u-flex-grow--1 dw-mod">
            {{>SearchPagesTemplate}}
        </ul>
    </script>

    <script id="SearchProductsTemplateWrap" type="text/x-template">
        <div class="dropdown__column-header">@Translate("Products")</div>
        <ul class="dropdown__list u-min-w220px u-full-width u-margin-bottom u-height--auto u-flex-grow--1 dw-mod">
            {{>SearchProductsTemplate}}
        </ul>
    </script>
}

@Include("../Components/EcommerceComponents.cshtml")