@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Security;
@using Dynamicweb.Ecommerce.Orders

@MasterPageFile("../../EmailMaster.cshtml")
@Include("../../EmailHelpers.cshtml")

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">
    @RenderHeaderSection()
    @RenderOrderList()
    @RenderGiftcards()
    @RenderComments()
    @RenderFooterSection()
</table>

@* CONTENT HELPERS *@

@helper RenderHeaderSection()
{
    @RenderHeaderImage();

    Column info = new Column();
    info.header = Translate("Quote information");
    info.text.Add(Translate("Quote no.") + " " + GetString("Ecom:Order.ID"));
    info.align = "center";

    @CreateRow(info);

    @CreateRowDivider();
}

@helper RenderOrderList()
{
    foreach (LoopItem orderline in GetLoop("OrderLines").Where(o => o.GetInteger("Ecom:Order:OrderLine.Type") != (int)OrderLineType.Tax).ToList())
    {
        @RenderOrderline(orderline);

        @CreateRowDivider();
    }

    @RenderSummary();
    @RenderTotal();
}


@helper RenderSummary()
{
    bool hasTaxSettings = Dynamicweb.Rapido.Services.Countries.HasTaxSettings(GetString("Ecom:Order.ID"));

    Column summaryLeft = new Column();
    summaryLeft.text.Add(Translate("Total"));
    if (!hasTaxSettings)
    {
        summaryLeft.text.Add(Translate("VAT"));
    }

    Column summaryRight = new Column();
    summaryRight.text.Add(GetString("Ecom:Order.Price.PriceWithoutVATFormatted"));
    if (!hasTaxSettings)
    {
        summaryRight.text.Add(GetString("Ecom:Order.Price.VATFormatted"));
        summaryRight.align = "right";
    }

    @CreateRow(summaryLeft, summaryRight);
}


@helper RenderTotal()
{
    Column totalsLeft = new Column();
    totalsLeft.subheader = Translate("Total");

    Column totalsRight = new Column();
    totalsRight.subheader = GetString("Ecom:Order.Price.PriceWithVATFormatted");
    totalsRight.align = "right";

    @CreateRow(totalsLeft, totalsRight, new RowSettings { backgroundColor = "#e4e4e4" });
}