@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb.Core
@using System
@using System.Web
@using System.Collections.Generic
@using Dynamicweb.Rapido.Blocks
@using Dynamicweb.Rapido.Blocks.Components.General

@functions {
    BlocksPage rmaListPage = BlocksPage.GetBlockPage("RMAList");
}

@{
    bool isEmptyRMAList = !string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RMA.EmptyList"));

    Block pageContainer = new Block
    {
        Id = "PageContainer",
        SortId = 10,
        Design = new Design {
            RenderType = RenderType.Row
        },
        BlocksList = new List<Block> {
            new Block
            {
                Id = "Heading",
                SortId = 10,
                Component = new Heading
                {
                    Title = GetGlobalValue("Global:Page.Name"),
                    Icon = new Icon { Prefix = "fas", Name = "fa-undo", LabelPosition = IconLabelPosition.After }
                },
                Design = new Design {
                    RenderType = RenderType.Column,
                    Size = "6"
                }
            },
            new Block
            {
                Id = "NewRma",
                SortId = 20,
                Component = new Link {
                    Href = GetString("Ecom:CustomerCenter.RMA.AddURL"),
                    ButtonLayout = ButtonLayout.Primary,
                    Title = Translate("Add new request"),
                    CssClass = "u-pull--right",
                    Icon = new Icon {
                        Prefix = "fal",
                        Name = "fa-plus",
                        LabelPosition = IconLabelPosition.After
                    }
                },
                Design = new Design {
                    RenderType = RenderType.Column,
                    Size = "6",
                    CssClass = "u-align-right"
                }
            },
            new Block
            {
                Id = "Pagination",
                SortId = 60,
                Design = new Design {
                    RenderType = RenderType.Column,
                    Size = "12"
                },
                Component = new Pagination
                {
                    CurrentPageNumber = GetInteger("Ecom:CustomerCenter.Paging.CurrentPage"),
                    NumberOfPages = GetInteger("Ecom:CustomerCenter.Paging.NumPages"),
                    PreviousPageUrl = GetString("Ecom:CustomerCenter.Paging.Back.URL"),
                    NextPageUrl = GetString("Ecom:CustomerCenter.Paging.Forward.URL"),
                    ShowNextAndPrevControls = true,
                    PaginationType = PaginationType.CustomerCenterApp,
                    NavigationItemsLimit = 5
                }
            },
        }
    };
    rmaListPage.Add(pageContainer);

    Block backButton = new Block
    {
        Id = "BackButton",
        SortId = 9,
        Component = new Button
        {
            Title = Translate("Back to overview"),
            Href = "/Default.aspx?ID=" + GetPageIdByNavigationTag("CustomerDashboard"),
            Icon = new Icon
            {
                Prefix = "fal",
                Name = "fa-arrow-left",
                LabelPosition = IconLabelPosition.After
            },
            ButtonLayout = ButtonLayout.LinkClean,
            CssClass = "u-margin-bottom--xl"
        },
        Design = new Design {
            RenderType = RenderType.Row
        }
    };

    if (Pageview.Page.PropertyItem["LeftMenu"] != null) {
        if (Pageview.Page.PropertyItem["LeftMenu"].ToString() == "False")
        {
            rmaListPage.Add(backButton);
        }
    } else {
        rmaListPage.Add(backButton);
    }

    if (isEmptyRMAList)
    {
        pageContainer.Add(new Block
        {
            Id = "EmptyListMessage",
            SortId = 30,
            Template = RenderNothingFound()
        });
    }
}

@helper RenderNothingFound() { 
    <div class="u-full-width u-pull--left">
        @Translate("No RMAs list found") 
    </div>
}

@Include("Blocks/RMAList/RMAItems.cshtml")
@Include("Blocks/RMAList/Custom__Blocks.cshtml")

@* Include the Rendering helpers *@
@Include("../../Components/GridBuilder.cshtml")
@Include("../../Components/GeneralComponents.cshtml")
@Include("../../Components/EcommerceComponents.cshtml")


@* The @RenderBlockList base helper is included in Components/GridBuilder.cshtml *@
@RenderBlockList(rmaListPage.BlocksRoot.BlocksList)


