@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb.Rapido.Blocks
@using Dynamicweb.Rapido.Blocks.Components.General

@functions {
    BlocksPage billingAddressPage = BlocksPage.GetBlockPage("Order");
}

@{
    billingAddressPage.Add("OrderFooter", new Block
    {
        Id = "BillingAddress",
        SortId = 10,
        Design = new Design
        {
            CssClass = "grid__col-lg-auto grid__col-md-auto grid__col-xs-6"
        },
        Template = RenderBillingAddress()
    });
}

@helper RenderBillingAddress()
{
    string stateRegion = !String.IsNullOrEmpty(GetString("Ecom:Order.Customer.Region")) ? GetString("Ecom:Order.Customer.Region") + ", " : "";

    @Render(new Heading { CssClass = "u-margin-bottom", Title = Translate("Billing address"), Level = 5, Icon = new Icon { Prefix = "fas", Name = "fa-home", LabelPosition = IconLabelPosition.After } })
    <div>@GetString("Ecom:Order.Customer.Company")</div>
    <div>@GetString("Ecom:Order.Customer.Name")</div>
    <div>@GetString("Ecom:Order.Customer.Address")</div>
    <div>@GetString("Ecom:Order.Customer.Address2")</div>
    <div>@GetString("Ecom:Order.Customer.Zip") @GetString("Ecom:Order.Customer.City")</div>

    if ( !string.IsNullOrWhiteSpace(stateRegion) ) {
        <div>@stateRegion</div>
    }

    <div>@GetString("Ecom:Order.Customer.Country")</div>
    
    if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Email")))
    {
        <div>@Translate("Email"): @GetString("Ecom:Order.Customer.Email")</div>
    }
    if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Phone")))
    {
        <div>@Translate("Phone"): @GetString("Ecom:Order.Customer.Phone")</div>
    }
}