@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Rapido.Blocks
@using Dynamicweb.Rapido.Blocks.Components.General

@functions {

    BlocksPage topNavigationPage = BlocksPage.GetBlockPage("FilesList");
}

@{
    Block topNavigation = new Block()
    {
        Id = "TopNavigation",
        SortId = 10,
        Template = RenderTopNavigation()
    };

    topNavigationPage.GetBlockListById("Top").Add(topNavigation);

    Block listViewSelectListener = new Block()
    {
        Id = "ListViewSelectListener",
        Template = RenderListViewSelectListener()
    };

    topNavigationPage.Add("ScriptTemplates", listViewSelectListener);

    Block searchTemplates = new Block()
    {
        Id = "SearchTemplates",
        Template = RenderSearchTemplates()
    };

    topNavigationPage.Add("ScriptTemplates", searchTemplates);
}

@helper RenderTopNavigation()
{
    int feedPageId = GetPageIdByNavigationTag("FilesFeed");

    <div class="grid__cell">
        <div class="u-pull--left">
            <div class="u-margin-bottom--lg">
                @Render(new Heading { Level = 2, Title = Translate("Files found") + ": {{filesCount}}", CssClass = "u-no-margin" })
            </div>
        </div>
        <div class="grid__col--bleed grid__col-6 u-pull--right">
            <div class="grid__cell">
                <div class="collection u-no-margin u-pull--right">
                    <input type="radio" class="tag-btn-trigger" id="ListViewBtn_FileItemContainer" name="ViewBtnGroup">
                    <label for="ListViewBtn_FileItemContainer" class="btn btn--tag btn--sm u-no-margin" onclick="HandlebarsBolt.UpdateTemplate('Files', 'FileItemContainer')"><i class="fas fa-th-list"></i></label>

                    <input type="radio" class="tag-btn-trigger" id="ListViewBtn_FileGridItemContainer" name="ViewBtnGroup">
                    <label for="ListViewBtn_FileGridItemContainer" class="btn btn--tag btn--sm u-no-margin" onclick="HandlebarsBolt.UpdateTemplate('Files', 'FileGridItemContainer')"><i class="fas fa-th"></i></label>

                    <input type="radio" class="tag-btn-trigger" id="ListViewBtn_FileDetailsItemContainer" name="ViewBtnGroup">
                    <label for="ListViewBtn_FileDetailsItemContainer" class="btn btn--tag btn--sm u-no-margin" onclick="HandlebarsBolt.UpdateTemplate('Files', 'FileDetailsItemContainer')"><i class="fas fa-list"></i></label>
                </div>
                @RenderSearch()
            </div>
        </div>   
    </div>
}

@helper RenderSearch()
{
    int filesFeedPageId = GetPageIdByNavigationTag("FilesFeed");
    string filesSearchPageId = filesFeedPageId + "&LayoutTemplate=Json.cshtml&DisableStatistics=True";
    string filesPageId = GetGlobalValue("Global:Page.ID");
    string searchPlaceholder = Translate("Search files");
    string searchValue = HttpContext.Current.Request.QueryString.Get("Search") ?? "";
    
    <div class="typeahead u-color-inherit js-typeahead u-margin-bottom u-pull--right u-w220px u-margin-right" data-page-size="10" id="FilesSearch" data-search-feed-id="@filesSearchPageId" data-result-page-id="@filesPageId">
        <input type="text" class="typeahead-search-field u-no-margin u-full-width js-typeahead-search-field" placeholder="@searchPlaceholder" value="@searchValue">
        <ul class="dropdown dropdown--absolute-position u-full-width js-handlebars-root js-typeahead-search-content u-min-w220px u-full-width dw-mod" id="FilesSearchContent" data-template="SearchContentTemplate" data-json-feed="/Default.aspx?ID=@filesSearchPageId" data-init-onload="false" data-preloader="minimal"></ul>
        <button type="button" class="btn btn--condensed btn--primary u-no-margin dw-mod js-typeahead-enter-btn"><i class="fas fa-search"></i></button>
    </div>
}

@helper RenderSearchTemplates()
{
    @* Templates for Typeahead *@
    <script id="SearchGroupsTemplate" type="text/x-template">
        {{#.}}
            <li class="dropdown__item dw-mod" onclick="Search.UpdateGroupSelection(this)" data-group-id="{{id}}">{{name}}</li>
        {{/.}}
    </script>

    <script id="SearchContentTemplate" type="text/x-template">
        {{#.}}
            {{#ifCond template "!==" "SearchMore"}}
                <li class="dropdown__item dw-mod">
                    <div onclick="getPreview('{{id}}'); document.getElementById('PreviewModalTrigger').checked=true">
                        <div class="u-margin-right u-pull--left u-hidden-xs u-hidden-xxs">
                            <img src="/Admin/Public/GetImage.ashx?width=45&height=38&crop=1&Compression=75&image={{path}}" alt="{{name}}">
                        </div>
                        <div class="u-pull--left">
                            <div class="u-bold u-max-w220px u-truncate-text js-typeahead-name">{{name}}</div>
                            <div class="item-number u-max-w210px dw-mod">{{path}}</div>
                        </div>
                    </div>
                    <div class="u-margin-left u-pull--right">
                        <button type="button" class="btn btn--primary btn--condensed u-pull--right dw-mod u-no-margin js-ignore-click-outside" 
                                onclick="addFileToDownloads('{{path}}');">
                                <i class="fas fa-upload"></i>
                        </button>
                    </div>
                </li>
            {{/ifCond}}
            {{#ifCond template "===" "SearchMore"}}
                {{>SearchMore}}
            {{/ifCond}}    
        {{/.}}
        {{^.}}
            <li class="dropdown__item dropdown__item--seperator dropdown__item--not-selectable js-no-result dw-mod">
                @Translate("Your search gave 0 results")
            </li>
        {{/.}}
    </script>

    <script id="SearchMore" type="text/x-template">
        <li class="dropdown__item dropdown__item--not-selectable dw-mod">
            <a href="/Default.aspx?ID=@GetGlobalValue("Global:Page.ID")&Search={{searchParameter}}" class="btn btn--primary btn--full u-no-margin dw-mod js-typeahead-link">
                @Translate("View all")
            </a>
        </li>
    </script>

    <script id="SearchEmpty" type="text/x-template">
        <li class="u-margin u-padding-left">
            @Translate("Your search gave 0 results")
        </li>
    </script>
}

@helper RenderListViewSelectListener()
{
    <script>
        let defaultTemplate = 'FileItemContainer';
        let container = 'FilesListContainer';
        let cookieName = 'FilesTemplate';

        document.addEventListener('DOMContentLoaded', function (event) {
            document.getElementById(container).addEventListener('contentLoaded', function () {
                let selectedMode = RememberState.GetCookie(cookieName);
                let element = document.getElementById('ListViewBtn_' + (selectedMode != null ? selectedMode : defaultTemplate));
                if (element != null) {
                    element.checked = true;
                }
            }, false);
        });
    </script>
}