@using Dynamicweb.Rapido.Blocks.Components.General
@using Dynamicweb.Rapido.Blocks.Components

@helper RenderDashboardWidgetCounter(DashboardWidgetCounter settings)
{
    var backgroundStyles = "";
    if (!string.IsNullOrEmpty(settings.BackgroundColor))
    {
        backgroundStyles = "style='background-color:" + settings.BackgroundColor + "'";
    }

    <div class="widget @settings.CssClass dw-mod" @backgroundStyles @ComponentMethods.AddAttributes(settings.ExtraAttributes)>
        <div class="u-center-middle u-color-light">
            @if (settings.Icon != null)
            {
                settings.Icon.CssClass += "widget__icon";
                @Render(settings.Icon)
            }
            <div class="widget__counter">@settings.Count</div>
            <div class="widget__title">@settings.Title</div>
        </div>
    </div>
}