@using System.Reflection
@using Dynamicweb.Rapido.Blocks.Components.General
@using Dynamicweb.Rapido.Blocks.Components


@* Component *@

@helper RenderRadioButtonListField(RadioButtonListField settings)
{
    if (settings.Required && !String.IsNullOrEmpty(settings.Label)) { settings.Label += " <span class=\"required dw-mod\">*</span>"; }

    <div class="form__field-group @settings.WrapperCssClass u-margin-bottom dw-mod" @ComponentMethods.AddAttributes(settings.ExtraAttributes)>
        @if (!string.IsNullOrEmpty(settings.Label))
        {
            <label>@settings.Label</label>
        }
        @if (!string.IsNullOrEmpty(settings.HelpText))
        {
            <small class="form__help-text">@settings.HelpText</small>
        }

        @foreach (var item in settings.Options)
        {
            if (settings.Required)
            {
                item.Required = true;
            }
            if (settings.Disabled)
            {
                item.Disabled = true;
            }
            if (!string.IsNullOrEmpty(settings.Name))
            {
                item.Name = settings.Name;
            }
            if (settings.Value != null && settings.Value == item.Value)
            {
                item.Checked = true;
            }
            if (!string.IsNullOrEmpty(settings.OnClick))
            {
                item.OnClick += settings.OnClick;
            }
            if (!string.IsNullOrEmpty(settings.OnChange))
            {
                item.OnChange += settings.OnChange;
            }
            if (!string.IsNullOrEmpty(settings.CssClass))
            {
                item.CssClass += settings.CssClass;
            }
            @Render(item)
        }

        @Render(new NotificationMessage { Message = settings.ErrorMessage })
    </div>
}